/* <!-- --------------------------------Header contact----------------------------------- */
body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  animation: body-ani 1s ease-in-out;
  touch-action: pan-y;
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}
@keyframes body-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-banner-top {
  width: 100vw;
  height: 50vh;
  background-image: url("./Images/serviceBanner/petWalking.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}

section,
main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.image-slider-section {
  padding: 15px 0;
}

.header-contact {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
  gap: 90px;
  background-color: #203059;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.header-contact .div {
  display: inline-flex;
  align-items: center;
  gap: 4.75px;
  position: relative;
  flex: 0 0 auto;
  left: -161px;
  gap: 10px;
}

.header-contact .phone-icon {
  position: relative;
  width: 12.84px;
  height: 12.84px;
  margin-top: -0.71px;
  margin-bottom: -0.71px;
  margin-left: -0.71px;
}

.header-contact .phone-number-text {
  position: relative;
  width: fit-content;
  margin-top: -0.75px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 39.7px;
  white-space: nowrap;
}

.header-contact .mail-icon {
  position: relative;
  width: 16.17px;
  height: 11.41px;
}

.header-contact .mail-text {
  position: relative;
  width: fit-content;
  margin-top: -0.75px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 39.7px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

/* <!-- --------------------------------Header contact----------------------------------- */
/* ---------------------------Navbar--------------------------------------- */
.bars {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 166px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 44px;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  z-index: 999;
}
.nav-anchor {
  text-decoration: none;
  color: #1c3352;
}
.nav-anchor:hover {
  color: #1c3352;
}
.active {
  color: #3eb3a0;
  font-weight: bold;
}
.navbar .whatsapp-image {
  position: relative;
  width: 141px;
  height: 44px;
}

.navbar .div {
  display: inline-flex;
  height: 43px;
  align-items: center;
  gap: 105px;
  position: relative;
  flex: 0 0 auto;
}
.navbar .text-wrapper:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #1c3352;
}
.navbar .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1c3352;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 41.8px;
  white-space: nowrap;
}

.navbar .contact-section {
  display: flex;
  width: 80px;
  height: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #203059;
  border-radius: 5px;
}

.navbar .call-us-text {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 41.8px;
  white-space: nowrap;
}
.call-us-anchor {
  color: #fff;
  text-decoration: none;
}
/* --------------------------------------Navbar------------------------------------ */
/* ---------------------------------------------Whatsapp button ---------------------------- */

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}
/*-- -------------------------------About us------------------------------------------ --*/
.about-us {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 30px;
  padding: 50px;
  margin-bottom: 100px;
}
.about-us-col1 {
  width: 40%;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about-us-img1 {
  width: 300px;
  aspect-ratio: 2/2.5;
}
.about-us-img1 img {
  object-fit: fill;
  width: 300px;
  aspect-ratio: 2/2.5;
  border-radius: 10px;
}
.about-us-img2 {
  width: 200px;
  aspect-ratio: 2/2.5;
  position: absolute;
  left: 330px;
  top: 200px;
}
.about-us-img2 img {
  object-fit: fill;
  width: 200px;
  aspect-ratio: 2/2.5;
  border-radius: 10px;
}

.about-us-col2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.about-us-col2 h1 {
  font-size: 3rem;
  font-weight: bold;
}
.about-us-col2 p {
  text-align: left;
  width: 70%;
  font-size: 1.5rem;
  line-height: 40px;
}
/*-- -------------------------------About us------------------------------------------ --*/
/*-- -------------------------------About banner------------------------------------------ --*/
.about-banner {
  width: 100vw;
}
.about-banner-subdiv {
  width: 100%;
  height: auto;
  position: relative;
}
.about-banner-subdiv .about-banner-subdiv-img1 {
  width: 103%;
  aspect-ratio: 2 / 0.8;
}
.about-banner-subdiv-img2 {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 200px;
  bottom: 40px;
}
.about-banner-text-container {
  width: 500px;
  position: absolute;
  right: 200px;
  bottom: 70px;
  color: #ebe3cc;
}
.about-banner-text-container h1 {
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 60px;
}
.about-banner-text-container p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  word-spacing: 10px;
  margin-bottom: 60px;
}
.about-banner-text-container ul li {
  font-weight: 500d;
  font-size: 25px;
  line-height: 40px;
  list-style: none;
  position: relative;
}
.about-banner-text-container ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #189cab;
  border: 3px solid #062d3e;
  border-radius: 50%;
  top: 14px;
  left: -25px;
  position: absolute;
}
/*-- -------------------------------About banner------------------------------------------ --*/
.about-pattern {
  display: flex;
  margin: 50px 0 80px 0;
}
.about-pattern-subdiv-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-pattern-subdiv-1 p {
  text-align: center;
  font-size: 30px;
  color: gray;
  font-weight: 700;
}
.about-pattern-subdiv-1 img {
  width: 400px;
}
.about-pattern-subdiv-2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 50%;
}
.about-pattern-subdiv-2-card {
  width: 250px;
  /* height: auto; */
  border: 0.3px solid gray;
  border-radius: 10px;
  padding: 5px;
}
.card1 {
  height: 250px;
}
.card2 {
  height: 300px;
}
.card3 {
  height: 300px;
  margin-top: 0;
}
.card4 {
  height: 250px;
}
.vector {
  width: 30px;
  opacity: 0.5;
}
.about-pattern-heading {
  display: flex;
  gap: 10px;
  margin-left: 10px;
  color: green;
  font-weight: 700;
}
.about-card1-3,
.about-card2-4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*-- -------------------------------About banner------------------------------------------ --*/
/*-- -------------------------------About gallery------------------------------------------ --*/
.about-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 400px;
  margin: 50px 0;
}
.about-gallery-sub-div {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.about-gallery-img1 {
  object-fit: fill;
  width: 20%;
  height: 200px;
}
.about-gallery-img2 {
  width: 80%;
  height: 200px;
  object-fit: fill;
}
.about-gallery-img3 {
  width: 33.33%;
  height: 200px;
  object-fit: fill;
}
.about-gallery-img4 {
  width: 33.33%;
  height: 200px;
  object-fit: fill;
}
.about-gallery-img5 {
  width: 33.33%;
  height: 200px;
  object-fit: fill;
}
/*-- -------------------------------About gallery------------------------------------------ --*/

/* ----------------------------------Footer------------------------------------------------ */
.section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section .footer-wrapper {
  background-color: #ffffff;
  width: 100vw;
  height: 711px;
}

.section .footer {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  top: 304px;
  background-color: transparent;
  display: flex;
  position: relative;
}

.section .footer-text {
  height: 407px;
  align-items: center;
  justify-content: center;
  gap: 333px;
  align-self: stretch;
  width: 100%;
  background-color: #203059;
  display: flex;
  position: relative;
}

.section .logo {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  gap: 7px;
  position: relative;
}

.section .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.section .div {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20.7px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.section .quick-and-contact {
  display: inline-flex;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  flex: 0 0 auto;
  margin-top: 50px;
}

.section .quick-links,
.section .contacts {
  display: flex;
  flex-direction: column;
  width: 234px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.section .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.section .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.section .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  color: white;
  font-size: 22.7px;
  letter-spacing: 0;
  line-height: 34px;
  text-decoration: none;
}
.section .call {
  display: inline-flex;
  align-items: center;
  gap: 11.34px;
  position: relative;
  flex: 0 0 auto;
}

.section .img {
  width: 20px;
  height: 20px;
}

.section .mail {
  display: flex;
  align-items: center;
  gap: 11.34px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.section .frame-3 {
  /* width: 179.03px;
  height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section .element {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}
.section .dog-with-text {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: -114px;
  left: -100px;
}

.section .text-img-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.section .text-and-img {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 56px 16px 239px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #1c4b48;
  border-radius: 119px;
  box-shadow: 4.83px 1.61px 3.22px #00000040;
}

.section .p {
  position: relative;
  width: 679px;
  margin-top: -0.31px;
  margin-left: -16.5px;
  margin-right: -16.5px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 25.4px;
  letter-spacing: 1.65px;
  line-height: 39px;
}

.section .image {
  position: absolute;
  width: 216px;
  height: 302px;
  top: -190px;
  left: 0;
  object-fit: cover;
}
.section .dog-with-text .p-2 {
  margin-right: 150px;
  color: #fff;
  display: none;
}

/* -------------------------------------------Footer--------------------------------------- */

@media screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    min-width: 1000px;
    min-height: 40px;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 10px;
  }
  .navbar .div {
    height: 40px;
    gap: 80px;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }
  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -114px;
    left: -150px;
  }

  .section .text-img-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .section .text-and-img {
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 56px 16px 239px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #1c4b48;
    border-radius: 119px;
    box-shadow: 4.83px 1.61px 3.22px #00000040;
  }

  .section .p {
    position: relative;
    width: 679px;
    margin-top: -0.31px;
    margin-left: -16.5px;
    margin-right: -16.5px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 25.4px;
    letter-spacing: 1.65px;
    line-height: 39px;
  }

  .section .image {
    position: absolute;
    width: 216px;
    height: 302px;
    top: -190px;
    left: 0;
    object-fit: cover;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .about-us-col1 {
    width: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-us-img1 {
    width: 250px;
    aspect-ratio: 2/2.5;
  }
  .about-us-img1 img {
    object-fit: fill;
    width: 250px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }
  .about-us-img2 {
    width: 180px;
    aspect-ratio: 2/2.5;
    position: absolute;
    left: 200px;
    top: 180px;
  }
  .about-us-img2 img {
    object-fit: fill;
    width: 180px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }

  .about-us-col2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-us-col2 h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .about-us-col2 p {
    text-align: left;
    width: 80%;
    font-size: 1.3rem;
    line-height: 35px;
  }
  .about-pattern {
    display: flex;
    margin: 50px 0 80px 0;
  }
  .about-pattern-subdiv-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-pattern-subdiv-1 p {
    text-align: center;
    font-size: 30px;
    color: gray;
    font-weight: 700;
  }
  .about-pattern-subdiv-1 img {
    width: 400px;
  }
  .about-pattern-subdiv-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
  }
  .about-pattern-subdiv-2-card {
    width: 200px;
    /* height: auto; */
    border: 0.3px solid gray;
    border-radius: 10px;
    padding: 5px;
  }
  .about-pattern-subdiv-2-card p {
    font-size: 15px;
  }
  .card1 {
    height: 250px;
  }
  .card2 {
    height: 300px;
  }
  .card3 {
    height: 300px;
    margin-top: 0;
  }
  .card4 {
    height: 250px;
  }
  .vector {
    width: 30px;
    opacity: 0.5;
  }
  .about-pattern-heading {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    color: green;
    font-weight: 700;
  }
  .about-card1-3,
  .about-card2-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /*-- -------------------------------About gallery------------------------------------------ --*/
  .about-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 300px;
    margin: 50px 0;
  }
  .about-gallery-sub-div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .about-gallery-img1 {
    object-fit: fill;
    width: 20%;
    height: 150px;
  }
  .about-gallery-img2 {
    width: 80%;
    height: 150px;
    object-fit: fill;
  }
  .about-gallery-img3 {
    width: 33.33%;
    height: 150px;
    object-fit: fill;
  }
  .about-gallery-img4 {
    width: 33.33%;
    height: 150px;
    object-fit: fill;
  }
  .about-gallery-img5 {
    width: 33.33%;
    height: 150px;
    object-fit: fill;
  }
  /*-- -------------------------------About gallery------------------------------------------ --*/
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-banner {
    width: 100vw;
  }
  .about-banner-subdiv {
    width: 100%;
    height: auto;
    position: relative;
  }
  .about-banner-subdiv .about-banner-subdiv-img1 {
    width: 103%;
    aspect-ratio: 2 / 0.8;
  }
  .about-banner-subdiv-img2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    bottom: 40px;
  }
  .about-banner-text-container {
    width: 450px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    color: #ebe3cc;
  }
  .about-banner-text-container h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
  .about-banner-text-container p {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    word-spacing: 10px;
    margin-bottom: 30px;
  }
  .about-banner-text-container ul li {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    list-style: none;
    position: relative;
  }
  .about-banner-text-container ul li::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #189cab;
    border: 3px solid #062d3e;
    border-radius: 50%;
    top: 8px;
    left: -25px;
    position: absolute;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
}
@media screen and (max-width: 900px) {
  .whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 50px;
  }
  .navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    min-width: 800px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 15px 0;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 100px;
    height: 35px;
  }
  .navbar .div {
    display: inline-flex;
    align-items: flex-end;
    height: 40px;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  .navbar .contact-section {
    display: flex;
    width: 80px;
    height: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #203059;
    border-radius: 5px;
    margin-right: 10px;
  }

  .navbar .call-us-text {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .header-contact {
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: #203059;
    width: 150%;
    right: 0;
    top: 0;
    z-index: 999;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .section .footer-wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: 711px;
  }

  .section .footer {
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    top: 304px;
    background-color: transparent;
    display: flex;
    position: relative;
  }

  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 80px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }

  .section .logo {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-end;
    gap: 7px;
    position: relative;
  }

  .section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .div {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 17px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }

  .section .quick-links,
  .section .contacts {
    display: flex;
    flex-direction: column;
    width: 234px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
  }

  .section .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .section .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .section .call {
    display: inline-flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    flex: 0 0 auto;
  }

  .section .img {
    width: 20px;
    height: 20px;
  }

  .section .mail {
    display: flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .section .frame-3 {
    /* width: 179.03px;
height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .section .element {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }

  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -114px;
    left: -148px;
  }

  .section .text-img-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }

  .section .text-and-img {
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 56px 16px 239px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #1c4b48;
    border-radius: 119px;
    box-shadow: 4.83px 1.61px 3.22px #00000040;
  }

  .section .p {
    position: relative;
    width: 679px;
    margin-top: -0.31px;
    margin-left: -16.5px;
    margin-right: -16.5px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 20.4px;
    letter-spacing: 1.65px;
    line-height: 39px;
  }

  .section .image {
    position: absolute;
    width: 216px;
    height: 302px;
    top: -190px;
    left: 0;
    object-fit: cover;
  }
  .about-us-col1 {
    width: 40%;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .about-us-img1 {
    width: 200px;
    aspect-ratio: 2/2.5;
  }
  .about-us-img1 img {
    object-fit: fill;
    width: 200px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }
  .about-us-img2 {
    width: 150px;
    aspect-ratio: 2/2.5;
    position: absolute;
    left: 150px;
    top: 160px;
  }
  .about-us-img2 img {
    object-fit: fill;
    width: 150px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }

  .about-us-col2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-us-col2 h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  .about-us-col2 p {
    text-align: left;
    width: 80%;
    font-size: 1.1rem;
    line-height: 35px;
  }
  .about-pattern {
    display: flex;
    margin: 50px 0 80px 0;
  }
  .about-pattern-subdiv-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-pattern-subdiv-1 p {
    text-align: center;
    font-size: 30px;
    color: gray;
    font-weight: 700;
  }
  .about-pattern-subdiv-1 img {
    width: 400px;
  }
  .about-pattern-subdiv-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
  }
  .about-pattern-subdiv-2-card {
    width: 160px;
    /* height: auto; */
    border: 0.3px solid gray;
    border-radius: 10px;
    padding: 5px;
  }
  .about-pattern-subdiv-2-card p {
    font-size: 12px;
  }
  .card1 {
    height: 220px;
  }
  .card2 {
    height: 270px;
  }
  .card3 {
    height: 270px;
    margin-top: 0;
  }
  .card4 {
    height: 220px;
  }
  .vector {
    width: 30px;
    opacity: 0.5;
  }
  .about-pattern-heading {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    color: green;
    font-weight: 700;
  }
  .about-card1-3,
  .about-card2-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-banner {
    width: 100vw;
  }
  .about-banner-subdiv {
    width: 100%;
    height: auto;
    position: relative;
  }
  .about-banner-subdiv .about-banner-subdiv-img1 {
    width: 103%;
    aspect-ratio: 2 / 0.8;
  }
  .about-banner-subdiv-img2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    bottom: 40px;
  }
  .about-banner-text-container {
    width: 300px;
    position: absolute;
    right: 60px;
    bottom: 5px;
    color: #ebe3cc;
  }
  .about-banner-text-container h1 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .about-banner-text-container p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    word-spacing: 10px;
    margin-bottom: 10px;
  }
  .about-banner-text-container ul li {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    list-style: none;
    position: relative;
  }
  .about-banner-text-container ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #189cab;
    border: 3px solid #062d3e;
    border-radius: 50%;
    top: 8px;
    left: -25px;
    position: absolute;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
}
@media screen and (max-width: 750px) {
  .navbar .contact-section {
    margin-right: 50px;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-banner {
    width: 100vw;
  }
  .about-banner-subdiv {
    width: 100%;
    height: auto;
    position: relative;
  }
  .about-banner-subdiv .about-banner-subdiv-img1 {
    width: 103%;
    aspect-ratio: 2 / 0.8;
  }
  .about-banner-subdiv-img2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    bottom: 40px;
  }
  .about-banner-text-container {
    width: 300px;
    position: absolute;
    right: 50px;
    bottom: 5px;
    color: #ebe3cc;
  }
  .about-banner-text-container h1 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .about-banner-text-container p {
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    word-spacing: 10px;
    margin-bottom: 10px;
  }
  .about-banner-text-container ul li {
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    list-style: none;
    position: relative;
  }
  .about-banner-text-container ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #189cab;
    border: 3px solid #062d3e;
    border-radius: 50%;
    top: 8px;
    left: -25px;
    position: absolute;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }
  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }
}
@media (max-width: 567px) {
  .whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 150px;
  }
  .bars {
    width: 30px;
    height: 20px;
    margin-right: 10px;
    color: #fff;
    display: block;
  }
  .active {
    color: #fff;
  }
  .navbar {
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0px;
    position: relative;
    width: 100%;
    min-width: 0px;
    min-height: 200px;
    z-index: 999;
    padding: 20px 0;
    background-color: #3eb3a0;
    transform-origin: top;
    animation: nav 0.5s ease-in-out;
    transition: 0.5s;
  }
  @keyframes nav {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .navactive {
    display: flex;
    transition: 0.5s;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }

  .navbar .div {
    display: flex;
    flex-direction: column;
    height: 43px;
    align-items: center;
    gap: 0px;
    flex: 0 0 auto;
    background-color: #3eb3a0;
  }
  .navbar .home-link {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c3352;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.16px;
    line-height: 41.8px;
    white-space: nowrap;
  }

  .navbar .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1c3352;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.16px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .navbar .contact-section {
    display: flex;
    width: 60px;
    height: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #203059;
    border-radius: 5px;
    margin-right: 0px;
  }

  .navbar .call-us-text {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .header-contact {
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #203059;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .header-contact .div {
    display: inline-flex;
    align-items: center;
    gap: 4.75px;
    position: relative;
    flex: 0 0 auto;
    left: 0px;
    gap: 10px;
  }

  .header-contact .phone-icon {
    position: relative;
    width: 10.84px;
    height: 10.84px;
    margin-top: -0.71px;
    margin-bottom: -0.71px;
    margin-left: -0.71px;
  }

  .header-contact .phone-number-text {
    position: relative;
    width: fit-content;
    margin-top: -0.75px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10.2px;
    text-align: center;
    letter-spacing: -0.15px;
    line-height: 39.7px;
    white-space: nowrap;
  }

  .header-contact .mail-icon {
    position: relative;
    width: 10.84px;
    height: 10.84px;
  }

  .header-contact .mail-text {
    position: relative;
    width: fit-content;
    margin-top: -0.75px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10.2px;
    text-align: center;
    letter-spacing: -0.15px;
    line-height: 39.7px;
    white-space: nowrap;
    background: transparent;
    border: none;
    padding: 0;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 0px;
  }

  .section .footer-wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: auto;
  }

  .section .footer {
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    top: 100px;
    background-color: transparent;
    display: flex;
    position: relative;
  }

  .section .footer-text {
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 50px 30px 0;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    flex-direction: column;
  }

  .section .logo {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: flex-end;
    gap: 7px;
    position: relative;
  }

  .section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .div {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }

  .section .quick-links,
  .section .contacts {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    gap: 0px;
    position: relative;
  }

  .section .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .section .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .section .call {
    display: inline-flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    flex: 0 0 auto;
  }

  .section .img {
    width: 12px;
    height: 12px;
  }

  .section .mail {
    display: flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .section .frame-3 {
    /* width: 179.03px;
height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .section .element {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    margin-bottom: 7px;
  }
  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 0px;
    position: absolute;
    top: -80px;
    left: -150px;
  }
  .section .dog-with-text .text-img-container {
    height: 100px;
    width: 0;
  }
  .section .dog-with-text .p {
    font-size: 10px;
    width: 200px;
    line-height: 15px;
    margin-right: 100px;
    display: none;
  }
  .section .dog-with-text .p-2 {
    margin-right: 150px;
    color: #fff;
    display: block;
  }
  .section .text-and-img {
    height: 100px;
  }
  .section .dog-with-text .image {
    width: 80px;
    height: 100px;
    margin-top: 140px;
  }
  /*-- -------------------------------About us------------------------------------------ --*/
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    gap: 30px;
    padding: 50px;
    margin-bottom: 0px;
  }
  .about-us-col1 {
    width: 100%;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 30px;
    padding-bottom: 50px;
  }
  .about-us-img1 {
    width: 150px;
    aspect-ratio: 2/2.5;
  }
  .about-us-img1 img {
    object-fit: fill;
    width: 150px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }
  .about-us-img2 {
    width: 100px;
    aspect-ratio: 2/2.5;
    position: absolute;
    left: 130px;
    top: 100px;
  }
  .about-us-img2 img {
    object-fit: fill;
    width: 100px;
    aspect-ratio: 2/2.5;
    border-radius: 10px;
  }

  .about-us-col2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-us-col2 h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .about-us-col2 p {
    text-align: left;
    width: 80%;
    font-size: 1rem;
    line-height: 30px;
  }
  /*-- -------------------------------About us------------------------------------------ --*/
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-banner {
    width: 100vw;
  }
  .about-banner-subdiv {
    width: 100%;
    height: auto;
    position: relative;
  }
  .about-banner-subdiv .about-banner-subdiv-img1 {
    width: 103%;
    aspect-ratio: 2 / 0.8;
  }
  .about-banner-subdiv-img2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    bottom: 40px;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-pattern {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 80px 0;
  }
  .about-pattern-subdiv-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .about-pattern-subdiv-1 p {
    text-align: center;
    font-size: 20px;
    color: gray;
    font-weight: 700;
  }
  .about-pattern-subdiv-1 img {
    width: 300px;
  }
  .about-pattern-subdiv-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
  }
  .about-pattern-subdiv-2-card p {
    font-size: 10px;
  }
  .about-pattern-subdiv-2-card {
    width: 150px;
    /* height: auto; */
    border: 0.3px solid gray;
    border-radius: 10px;
    padding: 5px;
  }
  .card1 {
    height: 200px;
  }
  .card2 {
    height: 250px;
  }
  .card3 {
    height: 250px;
    margin-top: 0;
  }
  .card4 {
    height: 200px;
  }
  .vector {
    width: 20px;
    opacity: 0.5;
  }
  .about-pattern-heading {
    display: flex;
    gap: 5px;
    margin-left: 10px;
    color: green;
    font-weight: 700;
    font-size: 12px;
  }
  .about-card1-3,
  .about-card2-4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
  /*-- -------------------------------About gallery------------------------------------------ --*/
  .about-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 200px;
    margin: 50px 0 100px 0;
  }
  .about-gallery-sub-div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  .about-gallery-img1 {
    object-fit: fill;
    width: 20%;
    height: 100px;
  }
  .about-gallery-img2 {
    width: 80%;
    height: 100px;
    object-fit: fill;
  }
  .about-gallery-img3 {
    width: 33.33%;
    height: 100px;
    object-fit: fill;
  }
  .about-gallery-img4 {
    width: 33.33%;
    height: 100px;
    object-fit: fill;
  }
  .about-gallery-img5 {
    width: 33.33%;
    height: 100px;
    object-fit: fill;
  }
  /*-- -------------------------------About gallery------------------------------------------ --*/
  /*-- -------------------------------About banner------------------------------------------ --*/
  .about-banner {
    width: 100vw;
  }
  .about-banner-subdiv {
    width: 100%;
    height: auto;
    position: relative;
  }
  .about-banner-subdiv .about-banner-subdiv-img1 {
    width: 103%;
    aspect-ratio: 2 / 0.8;
  }
  .about-banner-subdiv-img2 {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 200px;
    bottom: 40px;
  }
  .about-banner-text-container {
    width: 150px;
    position: absolute;
    right: 30px;
    bottom: 0px;
    color: #ebe3cc;
  }
  .about-banner-text-container h1 {
    font-weight: 700;
    font-size: 0.8rem;
    margin-bottom: 0px;
  }
  .about-banner-text-container p {
    font-weight: 500;
    font-size: 6px;
    line-height: 8px;
    word-spacing: 10px;
    margin-bottom: 0px;
  }
  .about-banner-text-container ul li {
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    list-style: none;
    position: relative;
  }
  .about-banner-text-container ul li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #189cab;
    border: 3px solid #062d3e;
    border-radius: 50%;
    top: 1px;
    left: -15px;
    position: absolute;
  }
  /*-- -------------------------------About banner------------------------------------------ --*/
}
