/* <!-- --------------------------------Header contact----------------------------------- */
body {
  margin: 0;
  padding: 0;
  border: 0;
  animation: body-ani 1s ease-in-out;
  touch-action: pan-y;
  overflow-x: hidden;
  user-select: none;
  scroll-behavior: smooth;
}
@keyframes body-ani {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.active {
  display: block;
}
section {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

main {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 15px;
  display: block;
  justify-content: center;
  padding-top: 75px;
}

.header-contact {
  display: flex;
  height: 47px;
  align-items: center;
  justify-content: flex-end;
  gap: 90px;
  background-color: #203059;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
}

.header-contact .div {
  display: inline-flex;
  align-items: center;
  gap: 4.75px;
  position: relative;
  flex: 0 0 auto;
  left: -161px;
  gap: 10px;
}

.header-contact .phone-icon {
  position: relative;
  width: 12.84px;
  height: 12.84px;
  margin-top: -0.71px;
  margin-bottom: -0.71px;
  margin-left: -0.71px;
}

.header-contact .phone-number-text {
  position: relative;
  width: fit-content;
  margin-top: -0.75px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 39.7px;
  white-space: nowrap;
}

.header-contact .mail-icon {
  position: relative;
  width: 16.17px;
  height: 11.41px;
}

.header-contact .mail-text {
  position: relative;
  width: fit-content;
  margin-top: -0.75px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15.2px;
  text-align: center;
  letter-spacing: -0.15px;
  line-height: 39.7px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}
.bars {
  display: none;
}
/* <!-- --------------------------------Header contact----------------------------------- */
/* ---------------------------Navbar--------------------------------------- */
.bars {
  display: none;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 166px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 44px;
  background-color: rgb(255, 255, 255);
  padding: 15px 0;
  z-index: 999;
}
.nav-anchor {
  text-decoration: none;
  color: #1c3352;
}
.nav-anchor:hover {
  color: #1c3352;
}
.active {
  color: #3eb3a0;
  font-weight: bold;
}
.navbar .whatsapp-image {
  position: relative;
  width: 141px;
  height: 44px;
}

.navbar .div {
  display: inline-flex;
  height: 43px;
  align-items: center;
  gap: 105px;
  position: relative;
  flex: 0 0 auto;
}
.navbar .text-wrapper:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #1c3352;
}
.navbar .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1c3352;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.16px;
  line-height: 41.8px;
  white-space: nowrap;
}

.navbar .contact-section {
  display: flex;
  width: 80px;
  height: 10px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  background-color: #203059;
  border-radius: 5px;
}

.navbar .call-us-text {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.14px;
  line-height: 41.8px;
  white-space: nowrap;
}
.call-us-anchor {
  color: #fff;
  text-decoration: none;
}
/* --------------------------------------Navbar------------------------------------ */
/* ---------------------------------------------Whatsapp button ---------------------------- */

.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media screen and (max-width: 767px) {
  .whatsapp-icon {
    margin-top: 10px;
  }

  .whatsapp_float {
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 10px;
    font-size: 22px;
  }
}
/* ----------------------------------------Banner & tabs----------------------------------- */
.banner {
  width: 100%;
  height: 544px;
}

.banner .overlap-group {
  position: relative;
  height: 544px;
}

.banner .original {
  position: absolute;
  width: 100%;
  height: 473px;
  top: 0;
  left: 0;
}

.banner .frame {
  width: 1099px;
  height: 102px;
  gap: 59px;
  padding: 30px;
  position: absolute;
  top: 442px;
  left: 210px;
  background-color: #ffffff;
  border-radius: 11px;
  border: 1px solid;
  border-color: #c3c3c3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .frame button.active {
  background-color: #273dff;
}
.banner .frame button:hover {
  background-color: #273dff;
}
.banner .text-wrapper {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -0.82px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 17.3px;
  letter-spacing: 0;
  line-height: 26.7px;
  white-space: nowrap;
}

.banner .div {
  width: 137.85px;
  height: 35.9px;
  gap: 4.79px;
  padding: 4.79px;
  position: relative;
  border-radius: 14.36px;
  border: 0.48px solid;
  border-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame .div {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.frame .div:hover {
  background-color: #e0e0e0;
}

.frame .div.active {
  background-color: blue;
  color: white;
}
.banner .text-wrapper-2 {
  color: #000000;
  position: relative;
  width: fit-content;
  margin-top: -0.82px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  font-size: 17.3px;
  letter-spacing: 0;
  line-height: 26.7px;
  white-space: nowrap;
}

/* ------------------------------------------------Banner & tabs------------------------------------------- */

/* -------------------------------------------Petwalking service ----------------------------------------------- */

.pet-service-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pet-service {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pet-service-1 .text-wrapper,
.pet-service .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #203059;
  font-size: 37.5px;
  text-align: center;
  letter-spacing: 0;
  line-height: 61.8px;
  white-space: nowrap;
}
.pet-service-1 .welcome-to-bangalore,
.pet-service .welcome-to-bangalore {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #203059;
  font-size: 25.5px;
  text-align: center;
  letter-spacing: 0;
  height: 10px;
}
.pet-service-1 .are-you-searching,
.pet-service .are-you-searching {
  position: relative;
  width: 1137px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #686868;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 40px;
}

/* ----------------------------------------------Pet walking service----------------------------------------- */

/* ------------------------------choose our pet service----------------------------------- */

.choose-our-service {
  display: flex;
  flex-direction: column;
  width: 1519px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.choose-our-service .in-pet-walking {
  display: flex;
  flex-direction: column;
  width: 1199px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.choose-our-service .why-choose-our-pet {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #273dff;
  font-size: 41px;
  text-align: center;
  letter-spacing: 0;
  line-height: 49px;
  white-space: nowrap;
}

.choose-our-service .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.choose-our-service .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -0.79px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 25.3px;
  letter-spacing: 0;
  line-height: 38.8px;
}

.choose-our-service .p {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #686868;
  font-size: 15.8px;
  letter-spacing: 0;
  line-height: 31.6px;
}

/* ------------------------------choose our pet service----------------------------------- */

/* --------------------------------------Gallery------------------------------------------ */
.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 33px 60px;
  position: relative;
  justify-content: center;
  padding: 50px 0;
}

.gallery .rectangle {
  position: relative;
  width: 348px;
  height: 236px;
}

.gallery .img {
  position: relative;
  width: 348px;
  height: 236px;
  object-fit: cover;
}

/* ---------------------------------------Gallery-------------------------------------------- */
/* -----------------------------------------------------Benefits of dog walking-------------------------------- */
.benefits-of-dog {
  display: flex;
  flex-direction: column;
  width: 1519px;
  height: 402px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}

.benefits-of-dog .benefits-tab {
  display: flex;
  flex-direction: column;
  width: 1179px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.benefits-of-dog .benefits-of-regular {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #273dff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 42px;
}

.benefits-of-dog .benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.benefits-of-dog .improved-health {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 400;
  color: #203059;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 42px;
}

.benefits-of-dog .text-wrapper {
  font-weight: 600;
  color: #000000;
}

.benefits-of-dog .span {
  font-family: "Poppins-Regular", Helvetica;
  color: #000000;
}

.benefits-of-dog .div {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 400;
  color: #203059;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 42px;
}

/* -----------------------------------------------------Benefits of dog walking-------------------------------- */

/* ----------------------------------Footer------------------------------------------------ */
.section {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.section .footer-wrapper {
  background-color: #ffffff;
  width: 100vw;
  height: 711px;
}

.section .footer {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  top: 304px;
  background-color: transparent;
  display: flex;
  position: relative;
}

.section .footer-text {
  height: 407px;
  align-items: center;
  justify-content: center;
  gap: 333px;
  align-self: stretch;
  width: 100%;
  background-color: #203059;
  display: flex;
  position: relative;
}

.section .logo {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  gap: 7px;
  position: relative;
}

.section .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 52.9px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.section .div {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20.7px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.section .quick-and-contact {
  display: inline-flex;
  align-items: flex-start;
  gap: 80px;
  position: relative;
  flex: 0 0 auto;
  margin-top: 50px;
}

.section .quick-links,
.section .contacts {
  display: flex;
  flex-direction: column;
  width: 234px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}

.section .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.section .frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.section .text-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "DM Sans-Medium", Helvetica;
  font-weight: 500;
  color: white;
  font-size: 22.7px;
  letter-spacing: 0;
  line-height: 34px;
  text-decoration: none;
}
.section .call {
  display: inline-flex;
  align-items: center;
  gap: 11.34px;
  position: relative;
  flex: 0 0 auto;
}

.section .img {
  width: 20px;
  height: 20px;
}

.section .mail {
  display: flex;
  align-items: center;
  gap: 11.34px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.section .frame-3 {
  /* width: 179.03px;
  height: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.section .element {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
}
.section .dog-with-text {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: -114px;
  left: -150px;
}

.section .text-img-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.section .text-and-img {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 56px 16px 239px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #1c4b48;
  border-radius: 119px;
  box-shadow: 4.83px 1.61px 3.22px #00000040;
}

.section .p {
  position: relative;
  width: 679px;
  margin-top: -0.31px;
  margin-left: -16.5px;
  margin-right: -16.5px;
  font-family: "Rubik-Regular", Helvetica;
  font-weight: 400;
  color: #f4f4f4;
  font-size: 25.4px;
  letter-spacing: 1.65px;
  line-height: 39px;
}

.section .image {
  position: absolute;
  width: 216px;
  height: 302px;
  top: -190px;
  left: 0;
  object-fit: cover;
}
.section .dog-with-text .p-2 {
  margin-right: 150px;
  color: #fff;
  display: none;
}

/* -------------------------------------------Footer--------------------------------------- */
@media screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    min-width: 1000px;
    min-height: 40px;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 120px;
    height: 40px;
    margin-left: 10px;
  }
  .navbar .div {
    height: 40px;
    gap: 80px;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }
  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -114px;
    left: -150px;
  }

  .section .text-img-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    align-items: flex-start;
    position: relative;
    flex: 0 0 auto;
  }

  .section .text-and-img {
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 56px 16px 239px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #1c4b48;
    border-radius: 119px;
    box-shadow: 4.83px 1.61px 3.22px #00000040;
  }

  .section .p {
    position: relative;
    width: 679px;
    margin-top: -0.31px;
    margin-left: -16.5px;
    margin-right: -16.5px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 25.4px;
    letter-spacing: 1.65px;
    line-height: 39px;
  }

  .section .image {
    position: absolute;
    width: 216px;
    height: 302px;
    top: -190px;
    left: 0;
    object-fit: cover;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .youtube-video-iframe {
    width: 800px;
    aspect-ratio: 16/7;
    border-radius: 20px;
  }
  .pet-service-1 .text-wrapper,
  .pet-service .text-wrapper {
    font-size: 30.5px;
  }
  .pet-service-1 .welcome-to-bangalore,
  .pet-service .welcome-to-bangalore {
    font-size: 20.5px;
  }
  .pet-service-1 .are-you-searching,
  .pet-service .are-you-searching {
    width: 80%;
    font-size: 14px;
  }
  .choose-our-service {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
  }

  .choose-our-service .in-pet-walking {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  .choose-our-service .why-choose-our-pet {
    font-size: 35px;
    line-height: 49px;
    white-space: nowrap;
  }

  .choose-our-service .div {
    width: 100%;
  }

  .choose-our-service .text-wrapper {
    font-size: 23.3px;
    letter-spacing: 0;
    line-height: 30.8px;
  }

  .choose-our-service .p {
    font-size: 15.8px;
    letter-spacing: 0;
    line-height: 28.6px;
  }
  .benefits-of-dog {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 402px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin: 50px 0;
  }

  .benefits-of-dog .benefits-tab {
    width: 100%;
  }

  .benefits-of-dog .benefits-of-regular {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #273dff;
    font-size: 23px;
    letter-spacing: 0;
    line-height: 40px;
    margin: 0 0 0 20px;
  }

  .benefits-of-dog .benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 90%;
    flex: 0 0 auto;
    margin: 0 0 0 20px;
  }
  .benefits-of-dog .improved-health {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 40px;
  }

  .benefits-of-dog .text-wrapper {
    font-weight: 600;
    color: #000000;
  }
  .benefits-of-dog .div {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 40px;
  }
  .banner {
    width: 100%;
    height: 544px;
  }

  .banner .overlap-group {
    position: relative;
    height: 544px;
  }

  .banner .original {
    position: absolute;
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }

  .banner .frame {
    width: 70%;
    height: 80px;
    gap: 40px;
    padding: 30px;
    position: absolute;
    top: 442px;
    left: 100px;
    background-color: #ffffff;
    border-radius: 11px;
    border: 1px solid;
    border-color: #c3c3c3;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .div-wrapper {
    width: 130.85px;
    height: 30.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    background-color: #273dff;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner .frame button.active {
    background-color: #273dff;
  }
  .banner .frame button:hover {
    background-color: #273dff;
  }
  .banner .text-wrapper {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -0.82px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 14.3px;
    letter-spacing: 0;
    line-height: 26.7px;
    white-space: nowrap;
  }

  .banner .div {
    width: 130.85px;
    height: 30.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .text-wrapper-2 {
    font-size: 14.3px;
    letter-spacing: 0;
    line-height: 26.7px;
    white-space: nowrap;
  }
}
@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    min-width: 800px;
    min-height: 40px;
    background-color: rgb(255, 255, 255);
    padding: 15px 0;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 100px;
    height: 35px;
  }
  .navbar .div {
    display: inline-flex;
    align-items: flex-end;
    height: 40px;
    gap: 40px;
    position: relative;
    flex: 0 0 auto;
  }
  .navbar .contact-section {
    display: flex;
    width: 80px;
    height: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #203059;
    border-radius: 5px;
    margin-right: 10px;
  }

  .navbar .call-us-text {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .header-contact {
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-color: #203059;
    width: 150%;
    right: 0;
    top: 0;
    z-index: 999;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .section .footer-wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: 711px;
  }

  .section .footer {
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    top: 304px;
    background-color: transparent;
    display: flex;
    position: relative;
  }

  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 80px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }

  .section .logo {
    display: flex;
    flex-direction: column;
    width: 187px;
    align-items: flex-end;
    gap: 7px;
    position: relative;
  }

  .section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .div {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 17px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }

  .section .quick-links,
  .section .contacts {
    display: flex;
    flex-direction: column;
    width: 234px;
    align-items: flex-start;
    gap: 24px;
    position: relative;
  }

  .section .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .section .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .section .call {
    display: inline-flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    flex: 0 0 auto;
  }

  .section .img {
    width: 20px;
    height: 20px;
  }

  .section .mail {
    display: flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .section .frame-3 {
    /* width: 179.03px;
  height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .section .element {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }

  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: -114px;
    left: -148px;
  }

  .section .text-img-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
  }

  .section .text-and-img {
    display: flex;
    height: 125px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 56px 16px 239px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #1c4b48;
    border-radius: 119px;
    box-shadow: 4.83px 1.61px 3.22px #00000040;
  }

  .section .p {
    position: relative;
    width: 679px;
    margin-top: -0.31px;
    margin-left: -16.5px;
    margin-right: -16.5px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #f4f4f4;
    font-size: 20.4px;
    letter-spacing: 1.65px;
    line-height: 39px;
  }

  .section .image {
    position: absolute;
    width: 216px;
    height: 302px;
    top: -190px;
    left: 0;
    object-fit: cover;
  }
  .whatsapp_float {
    position: fixed;
    bottom: 40px;
    right: 50px;
  }
  .banner {
    width: 100%;
    height: 544px;
  }

  .banner .overlap-group {
    position: relative;
    height: 544px;
  }

  .banner .original {
    position: absolute;
    width: 100%;
    height: 473px;
    top: 0;
    left: 0;
  }
  .banner .frame button.active {
    background-color: #273dff;
  }
  .banner .frame button:hover {
    background-color: #273dff;
  }
  .banner .frame {
    width: 85%;
    height: 50px;
    gap: 30px;
    padding: 30px;
    position: absolute;
    top: 442px;
    left: 30px;
    background-color: #ffffff;
    border-radius: 11px;
    border: 1px solid;
    border-color: #c3c3c3;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .banner .div-wrapper {
    width: 80.85px;
    height: 20.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    background-color: #273dff;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .text-wrapper {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -0.82px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 10.3px;
    letter-spacing: 0;
    line-height: 20.7px;
    white-space: nowrap;
  }

  .banner .div {
    width: 80.85px;
    height: 20.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .text-wrapper-2 {
    font-size: 10.3px;
    letter-spacing: 0;
    line-height: 26.7px;
    white-space: nowrap;
  }
  .gallery {
    display: flex;
    gap: 25px 40px;
  }
}
@media screen and (max-width: 750px) {
  .navbar .contact-section {
    margin-right: 50px;
  }
  .gallery .rectangle {
    position: relative;
    width: 170px;
    height: 120px;
  }

  .gallery .img {
    position: relative;
    width: 170px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
  .section .footer-text {
    height: 407px;
    align-items: center;
    justify-content: center;
    gap: 60px;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    position: relative;
  }
  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }
}
@media (max-width: 567px) {
  .bars {
    width: 30px;
    height: 20px;
    color: #fff;
    margin-left: 0px;
    display: block;
  }
  .active {
    color: #fff;
  }
  .navbar {
    display: none;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0px;
    position: relative;
    width: 100%;
    min-width: 0px;
    min-height: 165px;
    z-index: 999;
    padding: 20px 0;
    background-color: #3eb3a0;
    transform-origin: top;
    animation: nav 0.5s ease-in-out;
    transition: 0.5s;
  }
  @keyframes nav {
    from {
      transform: scaleY(0);
    }
    to {
      transform: scaleY(1);
    }
  }
  .navactive {
    display: flex;
    transition: 0.5s;
  }
  .navbar .whatsapp-image {
    position: relative;
    width: 100px;
    height: 30px;
    border-radius: 5px;
  }

  .navbar .div {
    display: flex;
    flex-direction: column;
    height: 43px;
    align-items: center;
    gap: 0px;
    flex: 0 0 auto;
    background-color: #3eb3a0;
  }
  .navbar .home-link {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #1c3352;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.16px;
    line-height: 41.8px;
    white-space: nowrap;
  }

  .navbar .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -0.5px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #1c3352;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.16px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .navbar .contact-section {
    display: flex;
    width: 60px;
    height: 12px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    background-color: #203059;
    border-radius: 5px;
    margin-right: 0px;
  }

  .navbar .call-us-text {
    position: relative;
    width: fit-content;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 10px;
    text-align: center;
    letter-spacing: -0.14px;
    line-height: 41.8px;
    white-space: nowrap;
  }
  .banner-dog-and-cat {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0px;
    position: relative;
    width: 100%;
    min-width: 100%;
    min-height: 200px;
    padding: 50px 0 15px 0;
  }
  .banner-dog-and-cat .image-of-pets {
    position: relative;
    width: 100vw;
    height: 100px;
    object-fit: fill;
  }
  #slider {
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
  }
  .slides-img {
    object-fit: fill;
    height: 150px;
  }
  .youtube-video-iframe {
    width: 300px;
    aspect-ratio: 16/7;
    border-radius: 20px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 33px 30px;
    position: relative;
    justify-content: center;
    padding: 10px 0 30px 0;
  }
  .gallery .rectangle {
    position: relative;
    width: 150px;
    height: 100px;
  }

  .gallery .img {
    position: relative;
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 30px 0 10px 0;
  }

  .frame .header-wrapper {
    justify-content: center;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .frame .header {
    position: relative;
    width: fit-content;
    /* margin-top: -1px; */
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 0;
    white-space: nowrap;
  }

  .frame .div {
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .frame .div-2 {
    display: flex;
    flex-direction: column;
    width: 279px;
    height: 252.43px;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 19px;
  }
  .header-contact {
    display: flex;
    height: 47px;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    background-color: #203059;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
  }

  .header-contact .div {
    display: inline-flex;
    align-items: center;
    gap: 0px;
    position: relative;
    flex: 0 0 auto;
    left: 0px;
    gap: 10px;
  }

  .header-contact .phone-icon {
    position: relative;
    width: 10.84px;
    height: 10.84px;
    margin-top: -0.71px;
    margin-bottom: -0.71px;
    margin-left: -0.71px;
  }

  .header-contact .phone-number-text {
    position: relative;
    width: fit-content;
    margin-top: -0.75px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10.2px;
    text-align: center;
    letter-spacing: -0.15px;
    line-height: 39.7px;
    white-space: nowrap;
  }

  .header-contact .mail-icon {
    position: relative;
    width: 10.84px;
    height: 10.84px;
  }

  .header-contact .mail-text {
    position: relative;
    width: fit-content;
    margin-top: -0.75px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 10.2px;
    text-align: center;
    letter-spacing: -0.15px;
    line-height: 39.7px;
    white-space: nowrap;
    background: transparent;
    border: none;
    padding: 0;
  }
  /* ----------------------------------Footer------------------------------------------------ */
  .section {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .section .footer-wrapper {
    background-color: #ffffff;
    width: 100vw;
    height: auto;
  }

  .section .footer {
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    top: 100px;
    background-color: transparent;
    display: flex;
    position: relative;
  }

  .section .footer-text {
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 0 30px 0;
    align-self: stretch;
    width: 100%;
    background-color: #203059;
    display: flex;
    flex-direction: column;
  }

  .section .logo {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: flex-end;
    gap: 7px;
    position: relative;
  }

  .section .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .div {
    position: relative;
    align-self: stretch;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .quick-and-contact {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
    margin-top: 50px;
  }

  .section .quick-links,
  .section .contacts {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: flex-start;
    gap: 0px;
    position: relative;
  }

  .section .text-wrapper-2 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .section .frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .section .text-wrapper-3 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: white;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 34px;
  }
  .section .call {
    display: inline-flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    flex: 0 0 auto;
  }

  .section .img {
    width: 12px;
    height: 12px;
  }

  .section .mail {
    display: flex;
    align-items: center;
    gap: 11.34px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  .section .frame-3 {
    /* width: 179.03px;
  height: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .section .element {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    margin-bottom: 7px;
  }
  .section .dog-with-text {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 0px;
    position: absolute;
    top: -80px;
    left: -150px;
  }
  .section .dog-with-text .text-img-container {
    height: 100px;
    width: 0;
  }
  .section .dog-with-text .p {
    font-size: 10px;
    width: 200px;
    line-height: 15px;
    margin-right: 100px;
    display: none;
  }
  .section .dog-with-text .p-2 {
    margin-right: 150px;
    color: #fff;
    display: block;
  }
  .section .text-and-img {
    height: 100px;
  }
  .section .dog-with-text .image {
    width: 80px;
    height: 100px;
    margin-top: 140px;
  }
  .whatsapp_float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 150px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
  .best-agency-banner {
    width: 100vw;
    margin-bottom: 20px;
  }
  .banner {
    width: 100%;
    height: 400px;
  }

  .banner .overlap-group {
    position: relative;
    height: 544px;
  }

  .banner .original {
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    left: 0;
  }

  .banner .frame {
    width: 70%;
    height: auto;
    gap: 15px 30px;
    padding: 30px 10px;
    position: absolute;
    top: 250px;
    left: 45px;
    background-color: #ffffff;
    border-radius: 11px;
    border: 1px solid;
    border-color: #c3c3c3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
  .banner .frame button.active {
    background-color: #273dff;
  }
  .banner .frame button:hover {
    background-color: #273dff;
  }
  .banner .div-wrapper {
    width: 80.85px;
    height: 20.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    background-color: #273dff;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .text-wrapper {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -0.82px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    font-size: 10.3px;
    letter-spacing: 0;
    line-height: 20.7px;
    white-space: nowrap;
  }

  .banner .div {
    width: 80.85px;
    height: 20.9px;
    gap: 4.79px;
    padding: 4.79px;
    position: relative;
    border-radius: 14.36px;
    border: 0.48px solid;
    border-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .banner .text-wrapper-2 {
    font-size: 10.3px;
    letter-spacing: 0;
    line-height: 26.7px;
    white-space: nowrap;
  }
  .pet-service-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: static;
  }
  .pet-service {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
    position: static;
  }
  .pet-service-1 .text-wrapper,
  .pet-service .text-wrapper {
    position: static;
    width: fit-content;
    margin-top: -1px;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #203059;
    font-size: 25.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30.8px;
    white-space: nowrap;
  }
  .pet-service-1 .welcome-to-bangalore,
  .pet-service .welcome-to-bangalore {
    position: relative;
    align-self: stretch;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #203059;
    font-size: 20.5px;
    text-align: center;
    letter-spacing: 0;
    height: 10px;
  }
  .pet-service-1 .are-you-searching,
  .pet-service .are-you-searching {
    position: relative;
    width: 90%;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #686868;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 30px;
  }
  .choose-our-service {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
  }

  .choose-our-service .in-pet-walking {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
  }
  .choose-our-service .why-choose-our-pet {
    font-size: 25px;
    line-height: 40px;
    white-space: wrap;
  }

  .choose-our-service .div {
    width: 100%;
  }

  .choose-our-service .text-wrapper {
    font-size: 18.3px;
    letter-spacing: 0;
    line-height: 25.8px;
  }

  .choose-our-service .p {
    font-size: 12.8px;
    letter-spacing: 0;
    line-height: 23.6px;
  }
  .benefits-of-dog {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 402px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: static;
    margin: 50px 0 100px 0;
  }

  .benefits-of-dog .benefits-tab {
    width: 100%;
  }

  .benefits-of-dog .benefits-of-regular {
    position: static;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #273dff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 40px;
    margin: 0 0 0 20px;
  }

  .benefits-of-dog .benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    align-self: stretch;
    width: 90%;
    flex: 0 0 auto;
    margin: 0 0 0 20px;
  }
  .benefits-of-dog .improved-health {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
  }

  .benefits-of-dog .text-wrapper {
    font-weight: 600;
    color: #000000;
  }
  .benefits-of-dog .div {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
  }
  .whatsapp_float {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 50px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
  }
}
